# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# public - compiled files (but keep original assets)
/public/_next
/public/404.html
/public/404/
/public/contacto/
/public/faq/
/public/paquetes/
/public/privacidad/
/public/servicios/
/public/terminos/
/public/__next*/
/public/index.html
/public/index.txt

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts